.idea/
build/
outliers/
point/
cmake/
cmake-build-debug/

*.writePlyFile
*.csv
*.png
*.ply
*.log

dataset.dat
dataset.hdf5
testset.dat

CMakeLists.txt
src/main.cpp
src/io.cpp
src/timer.cpp
src/timer.h
src/io.h
src/logger.h
nanoflann/
utility/
